{% extends "base.html" %}
{% block content %}


<div class="container" style="background-color: #f0f0f0;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="mt-5">
                <h1>Judul Artikel</h1>
                <p class="text-muted">Waktu Posting: 22 September 2023</p>
            </div>
            <div class="mt-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac quam eget dolor hendrerit dignissim.
                    Nullam consequat justo sed augue tempus, sit amet efficitur lorem iaculis. Sed in risus sit amet urna
                    consectetur eleifend. Maecenas ac feugiat dolor. Vivamus vel eleifend ante, vel pharetra elit.
                    Fusce sit amet dictum lorem. Proin eleifend nisl in felis aliquet, in ultrices orci viverra.
                </p>
                <p>
                    Integer ut urna libero. Pellentesque fermentum elit nec mauris tincidunt, nec vestibulum
                    nulla posuere. Praesent id erat vel elit tincidunt tincidunt. Nulla facilisi. Maecenas tincidunt
                    odio sit amet bibendum consequat.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
