{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ post.title }}</h2>
      <p>Author: {{ post.author }}</p>
      <p>Created Date: {{ post.created_date }}</p>
      <hr>

      <p>{{ post.content }}</p>
      <hr>

      <!-- Tombol Edit dan Hapus -->
      {% if request.user == post.author %}
      <div class="btn-group" role="group" aria-label="Edit and Delete">
        <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Hapus</a>
      </div>
      {% endif %}

      <!-- Daftar Komentar -->
      <h3>Comments</h3>
      <ul class="list-unstyled">
        {% for comment in post.comments.all %}
          <li class="media my-4">
            <div class="media-body">
              <h5 class="mt-0" style="color: #3b38ff;">{{ comment.author }}</h5>
              <p>{{ comment.text }}</p>
              <small class="text-muted">{{ comment.created_date }}</small>
            </div>
          </li>
          <hr>
        {% empty %}
          <li>No comments yet.</li>
        {% endfor %}
      </ul>

      <!-- Form Komentar -->
      <h3>Add a Comment</h3>
      <form method="post" action="{% url 'add_comment_to_post' post.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
